# Prerequisites
*.d
*.log
*.tlog
x64/*
.vs/*
*.vcxproj.user
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.idb
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
